<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="EducationDataBaseEntities" connectionString="metadata=res://*/Model.ED.csdl|res://*/Model.ED.ssdl|res://*/Model.ED.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-VO9N10F;initial catalog=EducationDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EducationDataBaseEntities1" connectionString="metadata=res://*/Model.Education.csdl|res://*/Model.Education.ssdl|res://*/Model.Education.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql-ser-larisa;initial catalog=EducationDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EducationDataBaseEntities2" connectionString="metadata=res://*/Model.EDB.csdl|res://*/Model.EDB.ssdl|res://*/Model.EDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-VO9N10F;initial catalog=EducationDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EducationDataBaseEntities3" connectionString="metadata=res://*/Model.Tochka.csdl|res://*/Model.Tochka.ssdl|res://*/Model.Tochka.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql-ser-larisa;initial catalog=EducationDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PolyEntities" connectionString="metadata=res://*/Model.PolyDB.csdl|res://*/Model.PolyDB.ssdl|res://*/Model.PolyDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-18S4AQE;initial catalog=EducationDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EducationDataBaseEntities4" connectionString="metadata=res://*/Model.EduAinur.csdl|res://*/Model.EduAinur.ssdl|res://*/Model.EduAinur.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-I3NAHCK;initial catalog=EducationDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>